## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio / VS Code
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Rider
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db

## NuGet
*.nupkg
*.snupkg
**/packages/*

## Test results
TestResults/
*.trx

## Coverage
coverage/
coverage.*
